<h1>Olá <%= @evaluated.name %>,</h1>

<p>Você foi convidado a realizar uma avaliação. Por favor, clique no link abaixo para verificar seus dados e acessar o formulário:</p>

<a href="<%= @url %>">Clique aqui para iniciar sua avaliação</a>

<p>Obrigado,</p>
<p>Equipe Vetor Editorial</p>
